<div class="col-md-4">
</div>
<div class="col-md-4">
  <h1>Product</h1>
<%= bootstrap_form_for @product, label_errors: true, inline_errors: true do |form| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.text_field :category %>
  </div>

  <div class="field">
    <%= form.text_field :price %>
  </div>

  <div class="field">
    <%= form.text_field :cost %>
  </div>

  <div class="field">
    <%= form.text_field :discount %>
  </div>

  <div class="field">
    <%= form.number_field :quantity %>
  </div>

  <div class="field">
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.fields_for :photos, Photo.new do |i| %>
      <%= i.file_field :image, multiple: true, name: "photos[image][]" %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div>