<p id="notice"><%= notice %></p>

<h1>Products</h1>
<div class="container">
    <div class="row">
      <div class="col-md-12">
      <% @products.each do |product| %>      
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail" >
          

          <h4 class="text-center"><span class="label label-info"><% product.category %></span></h4>
          <%=active_link_to (image_tag product.photos.last.image.url), product, class: "img-responsive" if product.photos.present? %>
          <div class="caption">
            <div class="row">
              <div class="col-md-6 col-xs-6">
                <h3><%= product.name %></h3>
              </div>
              <div class="col-md-6 col-xs-6 price">
                <h3>
                <label>$<%= product.price %></label></h3>
              </div>
            </div>
              <%= form_tag(add_to_cart_path, remote: true) do %>
              
              <%= number_field_tag "quant", 1, min: 0, max: product.quantity %>/<%= product.quantity%>
              <%= hidden_field_tag 'product_id', product.id  %>
              <div class="row">
                <div class="col-md-3">
                  <%= button_tag "Buy", class: "btn btn-success glyphicon glyphicon-shopping-cart" %>
                </div>
                <% end %>

                <div class="col-md-3">

                  <%=active_link_to "Edit", edit_product_path(product), class: "btn btn-primary " if policy(Product).edit? %>
                </div>
                <div class="col-md-3">

                  <%=active_link_to "Destroy", product, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger " if policy(Product).edit? %>
                </div>
                 <div class="col-md-3">

                  <%=active_link_to "more", product, class: "btn btn-info " %>
                </div>
              </div>
            

          </div>
        
        </div>
      </div>
             <% end %>
 
        </div> 

  </div>
</div>

