<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3>Comments</h3>
    </div><!-- /col-sm-12 -->
  </div><!-- /row -->
</div>
  <%= form_tag (product_comments_path(@product.id)), remote: true do |f| %>
    <div class="container">
      <div class="row">
        <div class="col-sm-1">
          <div class="thumbnail">
            <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
          </div><!-- /thumbnail -->
        </div><!-- /col-sm-1 -->

        <div class="col-sm-5">
          <div class="panel panel-default">
            <div class="panel-heading">
              <%= label_tag :content %>
            </div>
              <%= text_area_tag :content, nil, style: "width: 100%" %>
          <div>
        </div>
      </div><!-- /panel panel-default -->
      <%= submit_tag 'Create Message' %>
    </div><!-- /col-sm-5 -->

  <% end %> 
  <ul id='comments'>
    <%= render @comments.reverse %>
  </ul>
</div>
</div>
</p>
<%=active_link_to 'Edit', edit_product_path(@product) if policy(Product).edit? %> |
<%=active_link_to 'Back', products_path %>
