<p id="notice"><%= notice %></p>
<p>
  <strong></strong>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<div class="container">
        <div id="main_area">
                <!-- Slider -->
                <div class="row">
                    <div class="col-xs-12" id="slider">
                        <!-- Top part of the slider -->
                        <div class="row">
                            <div class="col-sm-8" id="carousel-bounding-box">
                                <div class="carousel slide" id="myCarousel">
                                    <!-- Carousel items -->
                                    <div class="carousel-inner">
                                      <% @product.photos.all.each_with_index do |img, i|%>
                                        <% if i==0 %>
                                          <div class="active item" data-slide-number="<%= i %>" >
                                          <% else %>
                                          <div class="item" data-slide-number="<%= i %>" >
                                          <% end %>
                                        <%= image_tag img.image.url %>
                                        </div>
                                      <% end %>
                                    </div><!-- Carousel nav -->
                                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                          <span class="glyphicon glyphicon-chevron-left"></span>                                       
                                      </a>
                                      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                          <span class="glyphicon glyphicon-chevron-right"></span>                                       
                                      </a>         
                                </div>
                            </div>
                        </div>

                    </div>
                </div><!--/Slider-->

                <div class="row hidden-xs" id="slider-thumbs">
                        <!-- Bottom switcher of slider -->
                        <ul class="hide-bullets">
                          <% @product.photos.all.each_with_index do |img, i| %>
                            <li class="col-sm-2">
                            <a class="thumbnail" id="carousel-selector-<%= i %>">
                            <%= image_tag img.image.url %>
                            </a>
                            </li>
                          <% end %>
                        </ul>                 
                </div>
        </div>
</div>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @product.cost %>
</p>

<p>
  <strong>Discount:</strong>
  <%= @product.discount %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @product.quantity %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<%= link_to 'Edit', edit_product_path(@product) if policy(Product).edit? %> |
<%= link_to 'Back', products_path %>
